* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.celtics-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main Content Style Start */
.content {
  text-align: center;
}

.content h1 {
  font-size: clamp(18px, 4vw, 50px);
  font-weight: 600;
  color: white;
  transition: 0.5s;
  font-family: sans-serif;
}

.content h1:hover {
  -webkit-text-stroke: 2px white;
  color: transparent;
}

.content a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: clamp(14px, 2vw, 24px);
  border: 2px solid white;
  border-radius: 50px;
  padding: 14px 70px;
  margin-top: 20px;
  transition: 0.5s;
}

nav ul li a:hover {
  background-color: #ed174b;
  color: black;
}

.content a:hover {
  background-color: #006bb7;
}

.kobe-bryant {
  color: white;
  font-size: clamp(14px, 2vw, 20px);
  text-align: right;
  margin-top: 10px;
  margin-right: 50px;
}

.redirect {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
}

.icon a {
  font-size: 40px;
  color: black;
  border-bottom: 5px solid #ed174b;
  border-radius: 15px;
  padding: 10px;
  transition: 0.5s;
}

.icon a:hover {
  font-size: 40px;
  color: #006bb7;
  border-top: 5px solid #006bb7;
  border-bottom: none;
  border-radius: 15px;
  padding: 10px;
  transition: 0.2s;
}
/* Main Content Style End */

/* Media Queries - moved to queries.css */

/* @media (max-width: 1000px) {
  body {
    width: 300%;
    height: 100vh;
  }

  .main-page-image {
    height: 54vh;
  }

  .main-page-image img {
    height: 50vh;
  }

  nav {
    margin-top: 150px;
  }

  .hero nav {
    justify-content: flex-start;
  }

  .hero nav a {
    justify-content: flex-start;
    font-size: 50px;
  }

  .content h1 {
    font-size: 60px;
  }

  .content p {
    font-size: 40px;
  }

  .content a {
    font-size: 60px;
  }

  .redirect {
    position: absolute;
    left: 1700px;
    top: 2250px;
  }

  .icon a {
    font-size: 40px;
    color: black;
    border-bottom: 5px solid #969696;
    border-radius: 15px;
    padding: 10px;
    transition: 0.5s;
  }

  .icon a:hover {
    font-size: 40px;
    color: #969696;
    border-top: 5px solid #969696;
    border-radius: 15px;
    padding: 10px;
    transition: 0.2s;
  }
} */
