*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 1px;
}

.mix1{
    background-image:linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url(background-laptop.avif);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mix2{
    padding: 30px 50px;
}

article h1{
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

article img{
    height: 225px;
    width: 225px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-top: 60px;
}

p{
    font-size: 20px;
    margin-top: 30px;
}

article h5{
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 30px;
}
