/* GENERIC STYLE START */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background-color: white;
  overflow-x: hidden;
}

@font-face {
  font-family: generalFont;
  src: url(../../fonts/classy.ttf);
}

p,
footer {
  font-family: generalFont;
}

/* GENERIC STYLE END */

/* GENERAL STYLE START */
nav .logo {
  width: 150px;
  max-width: 30vw;
}

.container {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_media {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: underline;
}

h2 {
  text-align: center;
  margin: auto;
  margin-top: 70px;
  text-transform: uppercase;
  font-size: 30px;
  transition: 0.5s;

  width: 40%;
  border-radius: 5px;
  color: white;
}

/* GENERAL STYLE END */

/* TEAM INFO STYLE START */

.team_info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  margin-top: 80px;
}

.team_info_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
  margin-top: 80px;
}

.left,
.right {
  width: 500px;
  height: 500px;
}

.trophies {
  background-color: #f2f2f2;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.trophies h3 {
  margin: auto;
  font-size: 40px;
  text-decoration: underline;
}

.trophies span {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  display: table;
}

.trophies img {
  width: 250px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right img {
  width: 100%;
  height: 300px;
  border-radius: 40px;
}

.team_info p {
  font-size: clamp(16px, 2.5vw, 27px);
  padding: 0 40px;
  font-style: italic;
}

/* TEAM INFO STYLE END */

/* PLAYER CARD STYLE START */
.player_card_container {
  width: 90%;
  max-width: 1000px;
  height: auto;
  min-height: 50vh;
  margin: auto;
  margin-top: 70px;
  border-radius: 10px;
}

.player_card_content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  min-height: 100%;
  margin: auto;
  gap: 20px;
  padding: 20px 0;
}

.player_card_content div {
  width: 300px;
  max-width: 100%;
  height: auto;
  min-height: 250px;
}

.player_card_content div:last-child {
  width: 300px;
  max-width: 100%;
  height: auto;
  min-height: 250px;
}

.player {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  text-transform: uppercase;
}

.player span img {
  border-radius: 100px;
}

.player_six span img {
  width: 110px;
  height: 110px;
}

.player img {
  height: 110px;
  width: 110px;
  object-fit: cover;
}

.number {
  font-size: 45px;
}

/* PLAYER CARD STYLE END */

/* SOCIAL MEDIA STYLE START*/

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 100px;
  background-color: #f2f2f2;
  border-radius: 60px;
  width: 50%;
  padding: 30px 0;
}

.button {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  line-height: 60px;
  text-align: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  cursor: pointer;
}

.wrapper .button .icon {
  font-size: 20px;
}

/*
.wrapper .a:hover {
  transition: 0.9s;
}

.wrapper .button a:link {
  color: black;
} */

.fa-facebook,
.fa-instagram,
.fa-x-twitter,
.fa-tiktok,
.fa-youtube {
  color: black;
}

.fa-bounce {
  transition: 3s;
}

.fa-facebook:hover {
  color: #426782;
  transition: 0.4s;
}
.fa-x-twitter:hover {
  color: #000000;
  transition: 0.4s;
}
.fa-instagram:hover {
  color: #e1306c;
  transition: 0.4s;
}
.fa-youtube:hover {
  color: #ff0000;
  transition: 0.4s;
}
.fa-tiktok:hover {
  color: #fe2c55;
  transition: 0.4s;
}

/* SOCIAL MEDIA STYLE END*/

/* FOOTER STYLE START */

footer {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-size: 16px;
}
/* FOOTER STYLE END */

/* BACK TO TEAMS ICON STYLE START */
.redirect {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
}

.icon-teams a {
  font-size: 20px;
  color: white;
  border-bottom: 5px solid white;
  border-radius: 15px;
  padding: 10px;
  transition: 0.3s;
}

.icon-teams a:hover {
  font-size: 20px;
  color: #888888;
  border-top: 5px solid white;
  border-bottom: 0px;
  border-radius: 15px;
  padding: 10px;
  transition: 0.2s;
}
/* BACK TO TEAMS ICON STYLE END */

/* THIS CSS TEMPLATE MADE BY ANGELOS THANASAI(LEADER) (70%) AND THE REST (30%) MADE BY THE REST. */

/* WE MADE THIS TEMPLATE FORMULA SO ALL TEAMS HAVE THE SAME STRUCTURE. */
/* THE team.css IS A SPECIFIC TEAM STYLE , SUCH AS COLORS , IMAGES, BORDERS ETC. OF THAT SPECIFIC TEAM , BUT IN THE BACKGROUND IT HAS THE MAIN TEMPLATE WHICH IS THIS CSS.  */
