/* GENERIC STYLE START */

@font-face {
  font-family: timberwolvesFont;
  src: url(../../fonts/nba-timberwolves.ttf);
}

.container {
  background-image: url(../../images/team-images/timberwolves/timberwolves-wallpaper.png);
  background-size: cover;
}

body {
  background-color: #0c2340;
  font-family: generalFont;
}

/* GENERIC STYLE END */

/* GENERAL STYLE START */

p {
  color: white;
}

h2 {
  background-color: #236192;
  border-bottom: 5px solid #78be20;
  color: #9ea2a2;
  cursor: pointer;
}

h2:hover {
  background-color: #78be20;
  border-bottom: 5px solid #236192;
  color: #0c2340;
}

/* GENERAL STYLE END */

/* TEAM INFO STYLE START */

.left {
  color: black;
  border-bottom: 8px solid #78be20;
  border-radius: 23px;
}
.left .trophies {
  border-radius: 17px;
}

.right img {
  border-left: 10px solid #236192;
  width: 130%;
  height: 400px;
  border-radius: 40px;
}

.team_info {
  padding: 40px;
  border-radius: 11px;
}

.team_info p:last-child {
  border-left: 10px solid #78be20;
  padding: 40px;
  border-radius: 11px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.picture_heading {
  margin-bottom: 27px;
  color: #9ea2a2;
  border-top: 4px solid #78be20;
  border-left: 4px solid #236192;
  border-bottom: 4px solid #236192;
  border-right: 4px solid #78be20;
  border-radius: 20px;
  padding: 20px;
  font-size: 16px;
}

/* TEAM INFO STYLE END */

/* PLAYER CARD STYLE START */

.player_card_container {
  background-color: #f2f2f2;
}

.player_card_content div {
  background-color: white;
  border: 5px solid #78be20;
  color: #0c2340;
  font-family: timberwolvesFont;
}

.player_card_content div:last-child {
  background-color: #78be20;
  border: 5px solid white;
  color: #0c2340;
}

.player span img {
  border: 5px solid #78be20;
  background-color: white;
}

.player_six span img {
  border: 5px solid white;
  background-color: white;
}

/* PLAYER CARD STYLE END */

/* NAVBAR STYLE START */

nav ul li a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav ul li a:hover {
  background-color: #236192;
  color: #9ea2a2;
  transition: 0.5s;
}
/* NAVBAR STYLE END */

/* SOCIAL MEDIA STYLE START */

.social_media {
  color: white;
  margin-top: 100px;
}

.wrapper {
  border-bottom: 9px solid #236192;
  border-radius: 25px;
}

/* SOCIAL MEDIA STYLE END */

/* MADE BY MIHAIL POPESCU */
